/* Trax-Specific Styling */
html {background: #FFF url(../Trax/images/bg-page.png) no-repeat; -webkit-text-size-adjust: none;}
h1, h2, h3, h4, h5, h6, p, li, a {font: 93% Verdana, Geneva, sans-serif; color: #666;}
h1 {font-size: 153.9%; color: #333; margin: 8px 0;}
h2 {font-size: 123.1%; color: #a5070b; margin: 6px 0; }
h3 {font-size: 108%; color: #333; margin: 3px 0; }
p {font-size: 100%; color: #666; margin: 1em 0;}
li {font-size: 100%; color: #666; margin: 3px 0 3px 12px; list-style: disc;}
a {font-size: 100%; color: #a5070b; text-decoration: underline; cursor: pointer;}
a:hover {color: #c33;}
strong {font-weight: bold;}
em {font-style: italic;}

.js-required {display: none;}
.justified-left {text-align: left;}
.justified-center {text-align: center;}
.justified-right {text-align: right;}
.small {font-size: 85%}
.img-left {float: left;}
.img-right {float: right;}
.clear {clear: both}
.no-top-margin {margin-top: 0;}
.no-bottom-margin {margin-bottom: 0;}

.header {width: 968px; clear: both; border-bottom: 2px solid #900;}
.error {font-size: 85%; color: red; list-style: none; text-align: left;}
.hdr-chg-input {width: 10em; margin-top: 3px;}
.hdr-log-input {margin-top: 3px;}
.menu {font-size: 115%; margin-top: 70px;}

.content-body {width: 948px; vertical-align: top; clear: both; margin: 20px; min-height: 500px; height: auto !important; height: 500px;}
.columnX1 {float:left; width: 215px; padding: 10px;}
.columnX2 {float:left; width: 450px; padding: 10px;}
.columnX3 {float:left; width: 685px; padding: 10px;}
.columnX4 {float:left; width: 920px; padding: 10px;}

.footer {width: 968px; vertical-align: top; clear: both; border-top: 2px solid #900;}

.traxDataTable tbody tr td {vertical-align: top;}
.traxDataTable th, .traxDataTable td {cursor: pointer; border: 1px solid #666; padding: 0 2px; font-size: 100%;}
.traxDataTable th {font-weight: bold; text-align: center; color: #333;}
.traxDataTable td {background: #fff;}
.traxDataTable tr.row-selected td {background: #fcc;}
.dataTables_paginate span.fg-button {padding: 0 6px;}
.dataTables_filter, .dataTables_info {float: right; margin-right: 10px;}
.dataTables_length, .dataTables_paginate {float: left; margin-left: 10px;}
.dataTables_processing {color: #CCC; text-align: center;}
									
.traxForm fieldset {border: 1px solid #a5070b;; background: #eee; padding: 5px 0; -moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px;}
.traxForm legend {margin-left: 10px; color: black; font-weight: bold; font-size: 93%;}
.traxForm fieldset li {margin: 2px 0; list-style: none;}
.traxForm fieldset label {position: relative; float: left; text-align: right; width: 175px; margin-right: 10px; font-size: 93%;}
.traxForm fieldset label.right {position: relative; float: none; text-align: left; width: auto; margin-right: 0px; margin-left: 5px;}
.traxForm fieldset input, .traxForm fieldset select, .traxForm fieldset textarea {width: 235px; border: 1px solid #888; color:#666; font-size: 93%;}
.traxForm fieldset.submit {margin: 10px auto; border: none; background: transparent; text-align: center;}
.traxForm fieldset.submit input, .traxForm fieldset input[type="checkbox"], .traxForm fieldset input[type="radio"] {width: auto;}

.button {font: 100% Verdana, Geneva, sans-serif; background: #888; display: inline-block; padding: 1px 6px 3px; color: #fff; text-decoration: none; -moz-border-radius: 7px; -webkit-border-radius: 7px; -khtml-border-radius: 7px; border-radius: 7px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); box-shadow: 0 1px 3px rgba(0,0,0,0.5); -moz-text-shadow: 0 -1px 1px rgba(0,0,0,0.25); -webkit-text-shadow: 0 -1px 1px rgba(0,0,0,0.25); text-shadow: 0 -1px 1px rgba(0,0,0,0.25); border: 1px solid rgba(255,255,255,0.5); position: relative; cursor: pointer;}
.button:hover {background: #999; color: #fff;}
.button:active {top: 1px;}
.small-button {font: 88% Verdana, Geneva, sans-serif; background: #990000; display: inline-block; padding: 1px 4px 2px; color: #fff; text-decoration: none; -moz-border-radius: 7px; -webkit-border-radius: 7px; -khtml-border-radius: 7px; border-radius: 7px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); box-shadow: 0 1px 3px rgba(0,0,0,0.5); -moz-text-shadow: 0 -1px 1px rgba(0,0,0,0.25); -webkit-text-shadow: 0 -1px 1px rgba(0,0,0,0.25); text-shadow: 0 -1px 1px rgba(0,0,0,0.25); border: 1px solid rgba(255,255,255,0.8); border-bottom: 1px solid rgba(0,0,0,0.5); border-right: 1px solid rgba(0,0,0,0.5); position: relative; cursor: pointer;}
.small-button:hover {background: #c33;}
.small-button:active {top: 1px;}
.small-button[disabled], .small-button[disabled]:hover, .small-button[disabled]:active, .disabled, .disabled:hover, .disabled:active {background: #bbb; top: 0; cursor: default;}
